article {
    width: 30%;
}


h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #08fdd8;
    font-size: 3.1rem;
    line-height: 3.7rem;
    margin-bottom: 40px;
}

a {
    color: #08fdd8;
}

.skills-text {
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 1em;
    margin-top: 1em;
}

.skills-text p:first-child {
    margin-top: 0;
}

.skills-text p {
    margin-top: 15px;
}

.skills-text p:last-child {
    margin-top: 20px;
}

.skills-aside {
    float: right;
    width: 60%;
    height: 100%;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#skillsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
    height: 100%;
    color: #08fdd8;
}